[Unit]
Description=Application launcher service
Requires=wpeframework-appmanager.service
After=wpeframework-appmanager.service

ConditionPathExists=/tmp/ai2managers

[Service]
Type=notify
RemainAfterExit=Yes
StandardOutput=syslog

#Default appname will be changed from wpebrowser bundle name to app URL once the implementation to load the dynamically configured app URL in wpebrowser is possible
ExecStart=/usr/bin/sceneset

[Install]
WantedBy=multi-user.target
